@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('../../fonts/VCR_OSD_MONO.ttf') format(truetype
  );
}

@font-face {
  font-family: 'Galmuri9';
  src: url('../../fonts/Galmuri9.ttf') format(truetype
  );
}

.AppText {
  font-family: 'VCR_OSD_MONO','Galmuri9', sans-serif;
  display: inline-block; /* 글씨를 싹 감싸게*/
}

.AppTextNotDraggable {
    font-family: 'VCR_OSD_MONO','Galmuri9', sans-serif;
    display: inline-block; /* 글씨를 싹 감싸게*/
    user-select: none; /* 드래그 방지 */
    -webkit-user-select: none; /* Safari 드래그 방지 */
    -moz-user-select: none; /* Firefox 드래그 방지 */
    -ms-user-select: none; /* Internet Explorer/Edge 드래그  방지 */
    cursor: pointer; /* 마우스 커서를 포인터(손가락)로 변경*/
  }